{% extends 'mytemplate.html.twig' %}

{% block menudroite %}
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdownThemes" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Liste</a>
    <div class="dropdown-menu scrollable-menu" aria-labelledby="dropdownThemes">
    <a class="dropdown-item js-scroll-trigger" href="#contenu">Haut de page</a>
        {% for item in liste %}
            <a class="dropdown-item js-scroll-trigger" href="#link{{ item.idlistephp }}">{{ item.thetitle }}</a>
        {% else %}
            Pas encore de fonctions PHP
        {% endfor %}
    </div>
    </li>
    <li class="nav-item">
        {% if is_granted('ROLE_ADMIN') %}
            <a class="nav-link js-scroll-trigger" href="{{  path('app_logout') }}">Déconnexion</a>
        {% else %}
            <a class="nav-link js-scroll-trigger" href="{{  path('app_login') }}">Connexion</a>
        {% endif %}
    </li>
{% endblock %}

{% block contenu %}
    {% for item in liste %}
        <hr id="link{{ item.idlistephp }}"><br>
        <h3 title="{{ item.thedesc }}">{{ item.thetitle }}</h3>
        <p class="lead">{{ item.thedesc }}</p>
        <p>{{ item.thetext|nl2br }}</p>
        <h6>Liens externes</h6>
        <ul>
            {% for link in item.Linkphplinkphp %}
            <li>
                <a href="{{ link.theurl }}" title="{{ link.thedesc }}" target="_blank">{{ link.thetitle }}</a> - {{ link.thedesc }}
            </li>
            {% else %}
                <li>Pas de liens</li>
            {% endfor %}
        </ul>

    {% else %}
        <h3>Pas encore de fonctions</h3>
    {% endfor %}
{% endblock %}

