{% extends 'mytemplate.html.twig' %}
{% block title %}Listephp.webdev-cf2m.be | Admin - Modification {{ listephp.thetitle }}{% endblock %}

{% block menudroite %}
    <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="{{  path('admin') }}">Accueil Admin</a>
    </li>
    <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="{{  path('listephp_index') }}">fonctions PHP</a>
    </li>
    <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="{{  path('linkphp_index') }}">Liens sources externes</a>
    </li>
    <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="{{  path('app_logout') }}">Déconnexion</a>
    </li>
{% endblock %}
{% block titre %}Admin - Modification de  {{ listephp.thetitle }}{% endblock %}
{% block stitre %}<p class="lead">Modification de {{ listephp.thetitle }}</p>{% endblock %}
{% block contenu %}

    {{ include('listephp/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('listephp_index') }}">back to list</a>

    {{ include('listephp/_delete_form.html.twig') }}
{% endblock %}
