{% extends 'mytemplate.html.twig' %}
{% block title %}Listphp.webdev-cf2m.be | Admin - fonctions{% endblock %}

{% block menudroite %}
    <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="{{  path('admin') }}">Accueil Admin</a>
    </li>
    <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="{{  path('listephp_index') }}">fonctions PHP</a>
    </li>
    <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="{{  path('linkphp_index') }}">Liens sources externes</a>
    </li>
    <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="{{  path('app_logout') }}">Déconnexion</a>
    </li>
{% endblock %}
{% block titre %}Admin - fonctions{% endblock %}
{% block stitre %}<p class="lead">Administration des fonctions - Accueil</p>{% endblock %}
{% block contenu %}

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Texte</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for listephp in listephps %}
            <tr>
                <td>{{ listephp.idlistephp }}</td>
                <td>{{ listephp.thetitle }}</td>
                <td>{{ listephp.thedesc }}</td>
                <td>{{ listephp.thetext }}</td>
                <td>{{ listephp.thedate ? listephp.thedate|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('listephp_show', {'idlistephp': listephp.idlistephp}) }}">Voir</a>
                    <a href="{{ path('listephp_edit', {'idlistephp': listephp.idlistephp}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Pas encore de fonctions</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('listephp_new') }}">Créez une nouvelle fonction</a>
{% endblock %}
