{% extends 'base.html.twig' %}

{% block title %}Listephp index{% endblock %}

{% block body %}
    <h1>Listephp index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Idlistephp</th>
                <th>Thetitle</th>
                <th>Thedesc</th>
                <th>Thetext</th>
                <th>Thedate</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for listephp in listephps %}
            <tr>
                <td>{{ listephp.idlistephp }}</td>
                <td>{{ listephp.thetitle }}</td>
                <td>{{ listephp.thedesc }}</td>
                <td>{{ listephp.thetext }}</td>
                <td>{{ listephp.thedate ? listephp.thedate|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('listephp_show', {'idlistephp': listephp.idlistephp}) }}">show</a>
                    <a href="{{ path('listephp_edit', {'idlistephp': listephp.idlistephp}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('listephp_new') }}">Create new</a>
{% endblock %}
