{% extends 'mytemplate.html.twig' %}
{% block title %}Listephp.webdev-cf2m.be | Admin - {{ listephp.thetitle }}{% endblock %}

{% block menudroite %}
    <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="{{  path('admin') }}">Accueil Admin</a>
    </li>
    <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="{{  path('listephp_index') }}">fonctions PHP</a>
    </li>
    <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="{{  path('linkphp_index') }}">Liens sources externes</a>
    </li>
    <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="{{  path('app_logout') }}">Déconnexion</a>
    </li>
{% endblock %}
{% block titre %}Admin - {{ listephp.thetitle }}{% endblock %}
{% block stitre %}<p class="lead">Détail de {{ listephp.thetitle }}</p>{% endblock %}
{% block contenu %}

    <table class="table">
        <tbody>
            <tr>
                <th>Idlistephp</th>
                <td>{{ listephp.idlistephp }}</td>
            </tr>
            <tr>
                <th>Thetitle</th>
                <td>{{ listephp.thetitle }}</td>
            </tr>
            <tr>
                <th>Thedesc</th>
                <td>{{ listephp.thedesc }}</td>
            </tr>
            <tr>
                <th>Thetext</th>
                <td>{{ listephp.thetext }}</td>
            </tr>
            <tr>
                <th>Thedate</th>
                <td>{{ listephp.thedate ? listephp.thedate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('listephp_index') }}">back to list</a>

    <a href="{{ path('listephp_edit', {'idlistephp': listephp.idlistephp}) }}">edit</a>

    {{ include('listephp/_delete_form.html.twig') }}
{% endblock %}
