{% extends 'mytemplate.html.twig' %}
{% block title %}Listephp.webdev-cf2m.be | Admin - Liens externes{% endblock %}

{% block menudroite %}
    <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="{{  path('admin') }}">Accueil Admin</a>
    </li>
    <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="{{  path('listephp_index') }}">fonctions PHP</a>
    </li>
    <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="{{  path('linkphp_index') }}">Liens sources externes</a>
    </li>
    <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="{{  path('app_logout') }}">Déconnexion</a>
    </li>
{% endblock %}
{% block titre %}Admin - Liens externes{% endblock %}
{% block stitre %}<p class="lead">Liste des liens externes</p>{% endblock %}
{% block contenu %}

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Description</th>
                <th>URL</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for linkphp in linkphps %}
            <tr>
                <td>{{ linkphp.idlinkphp }}</td>
                <td>{{ linkphp.thetitle }}</td>
                <td>{{ linkphp.thedesc }}</td>
                <td>{{ linkphp.theurl }}</td>
                <td>
                    <a href="{{ path('linkphp_show', {'idlinkphp': linkphp.idlinkphp}) }}">Voir</a>
                    <a href="{{ path('linkphp_edit', {'idlinkphp': linkphp.idlinkphp}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Pas encore de liens</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('linkphp_new') }}">Créez un nouveau lien</a>
{% endblock %}
