{% extends 'base.html.twig' %}

{% block title %}Linkphp index{% endblock %}

{% block body %}
    <h1>Linkphp index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Idlinkphp</th>
                <th>Thetitle</th>
                <th>Thedesc</th>
                <th>Theurl</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for linkphp in linkphps %}
            <tr>
                <td>{{ linkphp.idlinkphp }}</td>
                <td>{{ linkphp.thetitle }}</td>
                <td>{{ linkphp.thedesc }}</td>
                <td>{{ linkphp.theurl }}</td>
                <td>
                    <a href="{{ path('linkphp_show', {'idlinkphp': linkphp.idlinkphp}) }}">show</a>
                    <a href="{{ path('linkphp_edit', {'idlinkphp': linkphp.idlinkphp}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('linkphp_new') }}">Create new</a>
{% endblock %}
