{% extends 'mytemplate.html.twig' %}
{% block title %}Listephp.webdev-cf2m.be | Admin - Nouveau lien externe{% endblock %}

{% block menudroite %}
    <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="{{  path('admin') }}">Accueil Admin</a>
    </li>
    <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="{{  path('listephp_index') }}">fonctions PHP</a>
    </li>
    <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="{{  path('linkphp_index') }}">Liens sources externes</a>
    </li>
    <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="{{  path('app_logout') }}">Déconnexion</a>
    </li>
{% endblock %}
{% block titre %}Admin - Nouveau lien externe{% endblock %}
{% block stitre %}<p class="lead">Nouveau lien externe</p>{% endblock %}
{% block contenu %}

    {{ include('linkphp/_form.html.twig') }}

    <a href="{{ path('linkphp_index') }}">back to list</a>
{% endblock %}
